@import url("https://rsms.me/inter/inter.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-box-orient: vertical;
}

.main-body {
  gap: 50px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
button {
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background: #0c0c0c;
  border: 2px solid #161616;
  border-radius: 22px;
}

.button-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 13px;
  /* identical to box height */

  letter-spacing: 0.075em;

  color: #ffffff;
}

.button-icon {
  height: 91px;
  width: 105px;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: #141415;
}

@media only screen and (max-width: 600px) {
}
